lr1110_flow.json
[{"id":"68ab125b.b906b4","type":"function","z":"80031b64.642688","name":"Prepare request","func":"var URL = \"https://gls.loracloud.com/api/v3/solve/gnss_lr1110_singleframe\" \nvar AUTH_TOKEN = <YOUR_TOKEN_HERE>\nvar LAT = 46.452761\nvar LON = 15.641854\nvar nav_payload = \"010106D9430816a202a82aeb61df9b2d5031d5367d072aa05209c0c7ae7651d5b8e7203c09a3caba8ea4bf8c8c16558652c17787636a776c44f9294cd5a54356ff4900\"\n\nvar gps_time = 1271763033\n\nvar json_dict = {\n    \"payload\": nav_payload,\n    \"gnss_capture_time\": gps_time,\n    \"gnss_capture_time_accuracy\": 15, \n    \"gnss_assist_position\" : [LAT, LON]\n}\n\nvar headers = {\n    'Accept':'application/json',\n    'Ocp-Apim-Subscription-Key': AUTH_TOKEN\n}\n\nmsg = {\n    \"url\": URL,\n    \"headers\": headers,\n    \"payload\": json_dict\n}\n\nreturn msg;","outputs":1,"noerr":6,"x":360,"y":240,"wires":[["49e72408.391944"]]},{"id":"49e72408.391944","type":"http request","z":"80031b64.642688","name":"Lora Cloud","method":"POST","ret":"txt","paytoqs":false,"url":"https://gls.loracloud.com/api/v3/solve/gnss_lr1110_singleframe","tls":"","proxy":"","authType":"basic","x":530,"y":300,"wires":[["c1b5a83a.b93028"]]},{"id":"c1b5a83a.b93028","type":"function","z":"80031b64.642688","name":"Parse response","func":"var object = JSON.parse(msg.payload)\n\nmsg.payload = {\n    lat_sent_fixed :   object.result.llh[0],\n    lon_sent_fixed:   object.result.llh[1],\n    gdop_sent_fixed:   object.result.gdop,\n    accuracy_sent_fixed:   object.result.accuracy,\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":240,"wires":[["23575a88.c0bef6"]]},{"id":"23575a88.c0bef6","type":"debug","z":"80031b64.642688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":300,"wires":[]},{"id":"20fa1872.746bf8","type":"inject","z":"80031b64.642688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":300,"wires":[["68ab125b.b906b4"]]}]
